@import "reset.css";
@import "font.css";
/* @import "grid.css"; */


/* CSS does not yet support variables for media queries. Reference only (from Josh Comeau):
* 0-550px — Mobile
* 550-1100px — Tablet
* 1100-1500px — Laptop
* 1500+px — Desktop

Desktop first, default monitors, 1501px and up
@media (width < 1500px) {}
@media (width < 1100px) {}
@media (width < 550px) {}

Mobile first, default phones from 0px to 549px
@media (width > 550px) {}
@media (width > 1100px) {}
@media (width > 1500px) {}
*/

:root {
  --copy-width: 40rem;

  --font-sans: -apple-system, BlinkMacSystemFont, "IBM Plex Sans", Segoe UI, Helvetica, Arial, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  --font-serif: "Martina Plantijn", serif;

  --colour-background: hsla(54, 22%, 82%, 0.16);

  /* delaunay */
  /* --colour-text: #203B73; */
  --colour-text: hsl(220deg 56% 20%);
  --colour-text-dim: hsl(222deg 13% 45%);
  --colour-border: hsl(220deg 10% 86%);
  --colour-primary: #62744C;
  --colour-secondary: #C9581F;
  
  /* cezanne */
  /* --colour-text: #364451;
  --colour-highlight: #B39460;
  --colour-logo: #9B4425; */

  /* hopper */
  /* --colour-text: ##2B3837;
  --colour-highlight: #1E5A73;
  --colour-logo: #974023; */

  --shadow-colour: 87.0deg 20.8% 37.6%;
  --shadow-elevation-low: 
			0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.2),
			0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.2),
			1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.2);
  --shadow-elevation-medium:
    0.3px 0.5px 0.5px hsl(var(--shadow-colour) / 0.48),
    0.5px 1px 0.9px -1.5px hsl(var(--shadow-colour) / 0.36),
    1.8px 3.7px 3.3px -3.1px hsl(var(--shadow-colour) / 0.24),
    5.4px 10.8px 9.8px -4.6px hsl(var(--shadow-colour) / 0.12);
  --shadow-elevation-high:
    0.3px 0.5px 0.5px hsl(var(--shadow-colour) / 0.71),
    0.5px 1.1px 1px -0.7px hsl(var(--shadow-colour) / 0.63),
    1.3px 2.5px 2.3px -1.3px hsl(var(--shadow-colour) / 0.55),
    2.9px 5.8px 5.3px -2px hsl(var(--shadow-colour) / 0.47),
    6px 12px 10.9px -2.6px hsl(var(--shadow-colour) / 0.39),
    11px 22px 19.9px -3.3px hsl(var(--shadow-colour) / 0.31),
    18.4px 36.8px 33.3px -3.9px hsl(var(--shadow-colour) / 0.22),
    28.8px 57.5px 52.1px -4.6px hsl(var(--shadow-colour) / 0.14);
}


body {
  --section-padding: 5rem;
  padding: 20px;
  
  background-color: var(--colour-background);
  color: var(--colour-text);
  font-family: var(--font-sans);
}

body::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    pointer-events: none;
    mix-blend-mode: multiply;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='3' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-size: 200px 200px;
}


h1, h2, h3, h4, h5, h6, p {
  margin: 1rem 0;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

h2 {
  font-weight: 600;
}

a {
	color: inherit;
	text-decoration-color: var(--colour-border);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.125rem;
}

a:hover {
	color: var(--colour-secondary);
  text-decoration-color: var(--colour-secondary);
}